<div class="columns">
  <div class="column is-half">

    <label class="label">Name</label>
    {{#validated-control
      class="name"
      model=this
      valuePath="name" as |isErrored|}}
      <input
      class="input {{if isErrored 'is-danger'}}"
      type="text"
      name="name"
      value={{name}}
      placeholder="You're name"
      oninput={{action (action (mut name)) value="target.value"}}
      >
    {{/validated-control}}

    <label class="label">Address</label>
    {{#validated-control
      class="address"
      model=this
      valuePath="address"
    }}
      {{#power-select-multiple
        options=selectionAddresses
        selected=address
        onchange=(action (mut address))
        placeholder="Select two addresses" as |address|}}
        {{address.name}}
      {{/power-select-multiple}}
    {{/validated-control}}

    <label class="label">Favorite Palindrome</label>
    {{#validated-control
      class="palindrome"
      model=this
      valuePath="palindrome" as |isErrored|}}
      <input
      class="input {{if isErrored 'is-danger'}}"
      type="text"
      name="name"
      value={{palindrome}}
      placeholder="You're favorite palindrome"
      oninput={{action (action (mut palindrome)) value="target.value"}}
      >
    {{/validated-control}}

    <label class="label">Email</label>
    {{#validated-control
      class="email"
      model=this
      valuePath="email" as |isErrored|}}
    <input
    class="input {{if isErrored 'is-danger'}}"
    type="text"
    name="name"
    value={{email}}
    placeholder="A unique Email"
    oninput={{action (action (mut email)) value="target.value"}}
    >
    {{/validated-control}}

    <p class="control submit">
      <button class="button is-primary">Submit</button>
    </p>
  </div>
</div>
